<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>234966669188-cocqs3iqc8lp7fro68fpg9hngkkl19ku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.234966669188-cocqs3iqc8lp7fro68fpg9hngkkl19ku</string>
	<key>API_KEY</key>
	<string>AIzaSyC0iBJQx5f8b81GGCeLhrz7TfTXCSs9BMU</string>
	<key>GCM_SENDER_ID</key>
	<string>234966669188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hospitalSystem</string>
	<key>PROJECT_ID</key>
	<string>hospitalsystem-de126</string>
	<key>STORAGE_BUCKET</key>
	<string>hospitalsystem-de126.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234966669188:ios:f2dd0a110c80a3d37f2fd1</string>
</dict>
</plist>